	#portfolio {  
	    margin: 1rem 0;
	    -webkit-column-count: 3; 
	    -moz-column-count: 3;
	    column-count: 3;
	    -webkit-column-gap: 1rem;
	    -moz-column-gap: 1rem;
	    column-gap: 1rem;
	    -webkit-column-width: 33.33333333333333%;
	    -moz-column-width: 33.33333333333333%;
	    column-width: 33.33333333333333%;
	}
	.tile { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	    -webkit-transition: all 350ms ease;
	    transition: all 350ms ease;

	}
	.tile:hover { 

	}

	.scale-anm {
	  transform: scale(1);
	}


	p{ 
	  padding:10px; 
	  border-bottom: 1px #ccc dotted; 
	  text-decoration: none; 
	  font-family: lato; 
	  text-transform:uppercase; 
	  font-size: 12px; 
	  color: #333; 
	  display:block; 
	  float:left;
	}

	p:hover { 
	  cursor:pointer; 
	  background: #333; 
	  color:#eee; }

	.tile img {
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	    margin-bottom: 1rem;
	  
	}

	.btn {
	    font-family: Lato;
	    font-size: 1rem;
	    font-weight: normal;
	    text-decoration: none;
	    cursor: pointer;
	    display: inline-block;
	    line-height: normal;
	    padding: .5rem 1rem;
	    margin: 0;
	    height: auto;
	    border: 1px solid;
	    vertical-align: middle;
	    -webkit-appearance: none;
	    color: #555;
	    background-color: rgba(0, 0, 0, 0);
	}

	.btn:hover {
	  text-decoration: none;
	}

	.btn:focus {
	  outline: none;
	  border-color: var(--darken-2);
	  box-shadow: 0 0 0 3px var(--darken-3);
	}

	::-moz-focus-inner {
	  border: 0;
	  padding: 0;
	}