@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:bold");
#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1rem;
  right: 1rem;
  border: solid 1rem transparent;
  width: 4.625rem;
  height: 3.25rem;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1rem -.5rem;
  padding: .5rem;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  font: 1rem/1.25rem trebuchet ms, sans-serif;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75rem);
  }
}
:root {
  --x-offset: 1;
}

p#inaction {
  position: absolute;
  padding: 15px 30px;
  font-size: 2.5em;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #00000;
}

.bar {
  --i: 0;
  position: absolute;
  top: 80px;
  left: 80px;
  animation: flip0 6s linear infinite;
}
.bar:nth-child(2) {
  --i: $i ;
}
.bar:nth-child(3) {
  --i: $i ;
}
.bar:nth-child(4) {
  --i: $i ;
}
.bar:nth-child(5) {
  --i: $i ;
}
.bar:nth-child(6) {
  --i: $i ;
}
.bar:nth-child(7) {
  --i: $i ;
}
.bar:nth-child(8) {
  --i: $i ;
}
.bar:nth-child(9) {
  --i: $i ;
}
.bar:nth-child(10) {
  --i: $i ;
}
.bar:nth-child(11) {
  --i: $i ;
}
.bar:nth-child(12) {
  --i: $i ;
}
.bar:before {
  position: absolute;
  margin: -1em -0.2em;
  width: 0.4em;
  height: 2em;
  border: solid, rgb(calc(11 + var(--i)*20), 0, 130);
  border-radius: 3px;
  background: rgb(calc(11 + var(--i)*20), 0, 130);
  animation: flip1 6s ease-in-out calc(var(--i)*-0.5s) loop;
  content: '';
  
text-align: center;
display: table-cell;
vertical-align: middle;
}

.bar:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes flip0 {
  to {
    transform: rotate(0.5turn);
  }
}
@keyframes flip1 {
  0%, 50% {
    transform: none;
  }
  150%, to {
    transform: rotate(0.5turn);
  }
}
