#mask {
	  position: absolute;
	  left: 0;
	  top: 0;
	  z-index: 9000;
	  background-color: #000;
	  display: none;
	}
	 
	#boxes .window {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 440px;
	  height: 700px;
	  display: none;
	  z-index: 9999;
	  padding: 20px;
	  border-radius: 15px;
	  text-align: center;
	  display:none;
	}
	 
	#boxes #dialog {
	  width: 750px;
	  height: 700px;
	  background-color: #ffffff;
	  font-family: 'Segoe UI Light', sans-serif;
	  font-size: 15pt;
	  
	}
	 
	#popupfoot {
	  font-size: 16pt;
	  position: absolute;
	  width: 250px;
	  
	}