	<!-- inizio GALLERY -->
	<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script language="javascript" src="./js/gallery.js"></script>
<div id="gallery">
	<div class="toolbar mb2 mt2">
	  <button class="btn fil-cat" href="" data-rel="all">All</button>
	  <button class="btn fil-cat" data-rel="spazi">Spazi</button>
	  <button class="btn fil-cat" data-rel="ambienti">Ambienti</button>
	  <button class="btn fil-cat" data-rel="artefatti">Artefatti</button>
	  <button class="btn fil-cat" data-rel="visioni">Visioni</button>
	  <button class="btn fil-cat" data-rel="multisensoriale">Multisensoriale</button>
	  <button class="btn fil-cat" data-rel="multimediale">Multimediale</button>
	  <button class="btn fil-cat" data-rel="analogico">Analogico</button>
	  <button class="btn fil-cat" data-rel="digitale">Digitale</button>
	  <button class="btn fil-cat" data-rel="atomi">Atomi</button>
	  <button class="btn fil-cat" data-rel="bit">Bit</button>
	  <button class="btn fil-cat" data-rel="combinatorieta">Combinatoriet&agrave;</button>
	  <button class="btn fil-cat" data-rel="kinetic">Kinetic</button>
	  <button class="btn fil-cat" data-rel="responsitive">Responsitive</button>
	  <button class="btn fil-cat" data-rel="adaptable">Adaptable</button>
	  <button class="btn fil-cat" data-rel="interactive">Interactive</button>
	  <button class="btn fil-cat" data-rel="tangiblecomputing">Tangible Computing</button>
	</div> 
	 
<div class="imagesBlock">
	<div id="portfolio">
	  <div class="tile scale-anm spazi all">
		<a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/2-mon_1092-300x234.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm ambienti all">
	    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm artefatti all">
	    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm web all">
		<a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/codystretch-300x270.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm flyers all">
		<a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" /></a>
	  </div>
	  <div class="tile scale-anm bcards all">
		    <a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" /></a>
	  </div>
	  <div class="tile scale-anm flyers all">
	    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm flyers all">
	    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm web all">
		<a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" /></a>
	  </div>
	  <div class="tile scale-anm flyers all">
		   <a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" /> </a>
	  </div>
	  <div class="tile scale-anm web all">
		<a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/the-ninetys-brand_02-300x300.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm bcards all">
		    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/15-dia_1092-1-300x300.jpg" alt="" /></a>
	  </div>
	  <div class="tile scale-anm web all">
	       <a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" /> </a>
	  </div>
	  <div class="tile scale-anm bcards all">
		  <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" /></a>  
	  </div>
	  <div class="tile scale-anm web all">
		    <a class="showImage"><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" /></a>
	  </div> 
	  <div class="tile scale-anm web all">
	      <a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" /></a>
	  </div> 
	  <div class="tile scale-anm bcards all">     
		    <a class="showImage"><img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" /></a>
	  </div>
	</div>